.body{
    color: #234CAD;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-weight: 800px;
}
.main-header{
    font-size: 2.5rem;
    font-weight: bold;
}
@media (min-width:576px){
    .main-header{
        font-size: 4rem;
    }
}
@font-face {
    font-family: Nunito;
    src: url(../font/Nunito-VariableFont_wght.ttf);
}
#nav-bar{
    margin: 50px 100px;
    display: flex;
    justify-content:space-between;
}
#nav-logo{
    display: flex;
    height: 50px;
    width: 50px;
    background-color: #F2F6FF;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
#nav-menu ul li{
    margin: 0 25px;
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
    color: #234CAD;
}
#nav-menu ul li a{
text-decoration: none;
}
#nav-login{
    font-size: 18px;
    font-weight: 700;
}
#loginButton{
    margin-right: 25px;
    width: 135px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #234CAD;
}
#signupButton{
    width: 135px;
    height: 50px;
    border-radius: 25px;
    background-color: #F2F6FF;
}
.my-4{
    height: 52px;
    width: 304px;
    top: 301px;
    border-radius: nullpx;
}
.text-content{
    letter-spacing: 0.025rem;
    font-size: 0.875rem;
}
.col-sm-6{
    border-radius: 50px;
    padding: 20px;

}
.flex-container{
    display: flex;
    background-color:#F2F6FF;
    padding: auto;
    height: 200px;
    width: 670px;
    left: 465px;
    top: 0px;
    padding-top: 20px;
    border-radius: 10p;
}
.kotak{
    display: flex; 
}

.icon{
    position: absolute;
    height: 20px;
    width: 20px;
    right: 584px;
    top: 138px;
    border-radius: 0px;
}
.icon1{
    position: absolute;
    height: 20px;
    width: 20px;
    right: 250px;
    top: 138px;
    border-radius: 0px;
}
.icon2{
    position: absolute;
    height: 20px;
    width: 20px;
    right: 584px;
    top: 339px;
    border-radius: 0px;
}
.icon3{
    position: absolute;
    height: 20px;
    width: 20px;
    right: 249px;
    top: 339px;
    border-radius: 0px;
}
.icon4{
    position: absolute;
    height: 20px;
    width: 20px;
    right: 584px;
    top: 539px;
    border-radius: 0px;
}
.icon5{
    position: absolute;
    height: 20px;
    width: 20px;
    right: 249px;
    top: 539px;
    border-radius: 0px;
}
.text{
    width: 115px;
    font-size: 16px;
    Line-height: 21px;
    line-height: 96%;
    align: center;
    vertical-align: text-top;
    Fill: Solid;
    margin-top: 15px;
    margin-left: 15px;}
.kata{
    margin-left: 75px;
    margin-top: -30px;
}
.box{
  background-color:white;
  width: 800px;
  height: 145px;
  margin: 20px;
  padding: 30px;
  font-size: 30px;
  border-radius: 30px;
  font-size: 10pt;
}
.bi{
    font-weight: bold;
}
.flex-container1{
    margin-top: 100px;
    display: flex;
    padding: auto;
    align-items: center;
    margin-left: 150px;
}
#box1{
    padding: auto;
    background-color:#F2F6FF;
    width: 250px;
    margin: 20px;
    padding: 30px;
    font-size: 30px;
    border-radius: 30px !important;
    font-size: 10pt;
    text-align: center;
    border-width: 10cm;
  }
  .test-button{
    border:2px solid #234CAD  !important;
    font-weight: bold;
  }
#box2{
    padding: auto;
    width: 250px;
    margin: 20px;
    padding: 30px;
    font-size: 30px;
    border-radius: 30px;
    font-size: 10pt;
    text-align: center;
    border-width: 10cm;
    border-color: black;
  }
  #box3{
    padding: auto;
    background-color:#F2F6FF;
    width: 250px;
    margin: 20px;
    padding: 30px;
    font-size: 30px;
    border-radius: 30px !important;
    font-size: 10pt;
    text-align: center;
    border-width: 10cm;
  }
  .test-button2{
    border: solid white !important;
    background-color: white !important;
    width: 180px;
    height: 50px;
  }
.paragraf{
    font-size: 15pt;
}
.angka{
    font-size: 40pt;
}
.container1{
    padding: auto;
    background-color: #F2F6FF;
}
#enter{
    padding: auto;
    padding: 50px;
    width: 1000px;
    margin-left: 190px;
    border-radius: 50px ;
}
.footer{
    display: flex;
    text-align: left;
    font: 14px sans-serif;
}
.judul{
    font-weight: bold;
   
}
.footer-center{
    margin-left: 100px;
}
.footer-right{
    margin-left: 100px;
}
.container2{
    display: flex;
    padding: auto;
    margin-left: 300px;
    padding: 0px;
    font-size: 16px;
    border-width: 10cm;
    text-align: left;
}
.btn{
    border-radius: 100px !important;
    color: #234CAD !important;
}
.test-warna{
    border:2px solid #234CAD  !important;
    width: 180px;
    height: 50px;
    font-weight: bold;
}
.form{
    width: 350px;
    height: 47px;
    margin-left: 250px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: white;
}
.iconB{
    position: absolute;
    right: 517px;
    top: 1519px;
    color: white;
    background-color: #234CAD;
    border: #234CAD;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    
}