.body{
    color: #234CAD;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-weight: 800px;
}
.main-header{
    font-size: 2.5rem;
    font-weight: bold;
}
h1{
    color: #234CAD !important;
}
p{
    color: #234CAD !important;
}
@media (min-width:576px){
    .main-header{
        font-size: 4rem;
    }
}
@font-face {
    font-family: Nunito;
    src: url(../font/Nunito-VariableFont_wght.ttf);
}
#nav-bar{
    position: fixed;
    background-color: white;
    width: 90%;
    text-align: center;
    margin: 0 5%;
    display: flex;
    justify-content:space-between;
    z-index: 999999;
}
.nav-logo{
    display: flex;
    height: 50px;
    width: 50px;
    background-color: #F2F6FF;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
#nav-menu{
    margin-right: -20%;
}
#nav-menu ul li{
    margin: 0 25px;
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
    color: #234CAD;
}
#nav-menu ul li a{
text-decoration: none;
}
#nav-login{
    font-size: 18px;
    font-weight: 700;
}
#loginButton{
    margin-right: 25px;
    width: 135px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #234CAD;
}
#userButton{
    margin-right: 25px;
    width: 135px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #234CAD;
}
#signupButton{
    width: 135px;
    height: 50px;
    border-radius: 25px;
    background-color: #F2F6FF;
}
#signoutButton{
    width: 135px;
    height: 50px;
    border-radius: 25px;
    background-color: #F2F6FF;
}
.main-text{
    font-size: 48px;
    font-weight: 700px;
}
.sub-text{
    font-size: 16px;
    font-weight: 400;
}
.app-button{
    width: 200px;
    height: 65px;
    border-radius: 32.5px;
    border: 2px solid #234CAD;
    background-color: transparent;
    font-size: 22px;
    font-weight: 700;
    color: #234CAD;
}
#home .blueBox{
    margin-top: 0;
}
.blueBox{
    border-radius: 60px;
    background-color: #F2F6FF;
    width: 80%;
}
.blueBox div button{
    height: 65px;
    width: 200px;
    border-radius: 32.5px;
    border: 2px solid #234CAD;
}
.smallCard{
    border-radius: 20px;
    background-color: white;
}
.icon-bg{
    display: flex;
    height: 50px ;
    width: 50px ;
    background-color: #F2F6FF;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.icon-b{
    font-size: 16px;
    font-weight: 700;
    color: #234CAD;
    margin: 0;
}
.icon-p{
    font-size: 12px;
    font-weight: 400;
    color: #234CAD;
}
.icon-text{
    font-size: 18px;
    font-weight: 700;
    color: #234CAD;
    padding-top: 30%;
}
.icon-time{
    opacity: 75%;
    font-size: 10px;
    font-weight: 400;
}
.icon-badge{
    position: absolute;
    top: 0%;
    right: 0%;
    left: 70%;
    bottom: 70%;
    background-color: #234CAD;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-badge-text{
    color: white;
    font-size: 6px;
    font-weight: 700;
}
.quarter-circle{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border-top: 3px solid #234CAD;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
}
.quarter-circle img{
    transform: rotate(-45deg);
}
.three-quarter-circle{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border-top: 3px solid transparent;
    border-left: 3px solid #234CAD;
    border-right: 3px solid #234CAD;
    border-bottom: 3px solid #234CAD;
    transform: rotate(45deg);
}
.three-quarter-circle img{
    transform: rotate(-45deg);
}
.full-circle{
    border: 3px solid #234CAD;
}
.small-circle{
    height: 40px;
    width: 40px;
    background-color: #F2F6FF;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
}
.small-circle p{
    font-size: 10px;
    font-weight: 700;
    padding-top: 50%;
}
#uploadBox{
    margin-right: 50px !important;
}
#uploadBox2{  
    margin-top: -60px !important;  
}
#teamBox{
    margin-right: 25px !important;
}
#johnBox{
    margin-right: 50px !important;
}
#messageBox{
    margin-top: -50px !important;
}
#chatBox{
    margin-top: -30px !important;
    margin-bottom: -60px !important;
    margin-right: -130px !important;
}
.section2-b{
    font-size: 30px;
    font-weight: 600;
}
.section2-p{
    font-size: 22px;
    font-weight: 400;
}
.section2-bg{
    height: 100px ;
    width: 100px ;
    background-color: #F2F6FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section3-box{
    background-color: #F2F6FF;
    border-radius: 60px;
}
#section3-chat{
    margin-top: 25px !important;
}
#section4-spencerBox{
    margin-left: 26px !important;
    margin-top: -25px !important;
}
#section4-uploadBox{
    margin-left: 26px !important;
}
#section4-uploadBox2{
    margin-bottom: -500px;
}
#section5-board{
    margin-right: -25% !important;
}
.my-4{
    height: 52px;
    width: 304px;
    top: 301px;
    border-radius: nullpx;
}
.text-content{
    letter-spacing: 0.025rem;
    font-size: 0.875rem;
}
.col-sm-6{
    border-radius: 50px;
    padding: 20px;
}
.flex-container{
    display: flex;
    background-color:#F2F6FF;
    padding: auto;
    height: 200px;
    width: 670px;
    left: 465px;
    top: 0px;
    padding-top: 20px;
    border-radius: 10p;
}
.kotak{
    display: flex; 
}

.icon{
    position: absolute;
    height: 20px;
    width: 20px;
    right: 584px;
    top: 138px;
    border-radius: 0px;
}
.icon1{
    position: absolute;
    height: 20px;
    width: 20px;
    right: 250px;
    top: 138px;
    border-radius: 0px;
}
.icon2{
    position: absolute;
    height: 20px;
    width: 20px;
    right: 584px;
    top: 339px;
    border-radius: 0px;
}
.icon3{
    position: absolute;
    height: 20px;
    width: 20px;
    right: 249px;
    top: 339px;
    border-radius: 0px;
}
.icon4{
    position: absolute;
    height: 20px;
    width: 20px;
    right: 584px;
    top: 539px;
    border-radius: 0px;
}
.icon5{
    position: absolute;
    height: 20px;
    width: 20px;
    right: 249px;
    top: 539px;
    border-radius: 0px;
}
.text{
    width: 115px;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 15px;}
.kata{
    margin-left: 75px;
    margin-top: -30px;
    font-size: 12px;
    line-height: 21px;
}
.box{
  background-color:white;
  width: 800px;
  height: 145px;
  margin: 20px;
  padding: 30px;
  font-size: 30px;
  border-radius: 30px;
  font-size: 10pt;
}
.bi{
    font-weight: bold;
}
#box1{
    padding: auto;
    background-color:#F2F6FF;
    width: 250px;
    margin: 20px;
    padding: 30px;
    font-size: 30px;
    border-radius: 30px !important;
    font-size: 10pt;
    text-align: center;
    border-width: 10cm;
  }
  .test-button{
    border:2px solid #234CAD  !important;
    font-weight: bold !important;
    font-size: 16pt !important;
  }
#box2{
    padding: auto;
    width: 250px;
    margin: 20px;
    padding: 30px;
    font-size: 30px;
    border-radius: 30px;
    font-size: 10pt;
    text-align: center;
    border-width: 10cm;
    border-color: black;
  }
  #box3{
    padding: auto;
    background-color:#F2F6FF;
    width: 250px;
    margin: 20px;
    padding: 30px;
    font-size: 30px;
    border-radius: 30px !important;
    font-size: 10pt;
    text-align: center;
    border-width: 10cm;
  }
  .test-button2{
    border: solid white !important;
    background-color: white !important;
    width: 180px;
    height: 50px;
    font-weight: bold !important;
    font-size:16pt !important;
  }
.paragraf{
    font-size: 15pt;
}
.angka{
    font-size: 40pt;
    font-weight: bold;
    color:#234CAD;
}
#enter{
    padding: auto;
    padding: 50px;
    width: 1000px;
    margin-left: 190px;
    border-radius: 50px ;
}
.footer{
    display: flex;
    text-align: left;
    font: 14px sans-serif;
}
.judul{
    font-weight: bold;
   color: #234CAD;
}
.footer-center{
    margin-left: 100px;
}
.footer-right{
    margin-left: 100px;
}
.container2{
    font-size: 16px;
    text-align: left;
    margin: 2% 0;
}
.btn{
    border-radius: 100px !important;
    color: #234CAD !important;
}
.test-warna{
    border:2px solid #234CAD  !important;
    width: 180px;
    height: 50px;
    font-weight: bold !important;
    font-size: 16pt !important;
}
.form{
    width: 350px;
    height: 47px;
    border-radius: 17.5px;
    border: none;
    text-align: center;
    padding-right: 40px;
}
.form::placeholder{
    color: #234CAD;
    opacity: 0.5;
}
.iconB{
    color: white;
    background-color: #234CAD;
    border: #234CAD;
    width: 35px;
    height: 35px;
    border-radius: 12.5px;
    position: absolute;
    right: 32%;
    margin-bottom: 0.125%;
    
}
.text3{
    position: absolute;
    Font-family: Nunito;
    font-weight: Bold;
    Font-size: 10px;
    Line-height: 14px;
    Line-height: 103%;
    right: 597px;
    Top: 200px;
}
.text4{
    position: absolute;
    Font-family: Nunito;
    font-weight: Bold;
    Font-size: 10px;
    Line-height: 14px;
    Line-height: 103%;
    right: 553px;
    Top: 200px;
}
.text5{
    position: absolute;
    Font-family: Nunito;
    font-weight: Bold;
    Font-size: 10px;
    Line-height: 14px;
    Line-height: 103%;
    right: 512px;
    Top: 200px;
}
.text6{
    position: absolute;
    Font-family: Nunito;
    font-weight: Bold;
    Font-size: 10px;
    Line-height: 14px;
    Line-height: 103%;
    right: 467px;
    Top: 200px;
}
.text7{
    position: absolute;
    Font-family: Nunito;
    font-weight: Bold;
    Font-size: 10px;
    Line-height: 14px;
    Line-height: 103%;
    right: 261px;
    Top: 200px;
}
.text8{
    position: absolute;
    Font-family: Nunito;
    font-weight: Bold;
    Font-size: 10px;
    Line-height: 14px;
    Line-height: 103%;
    right: 220px;
    Top: 200px;
}
.text9{
    position: absolute;
    Font-family: Nunito;
    font-weight: Bold;
    Font-size: 10px;
    Line-height: 14px;
    Line-height: 103%;
    right: 179px;
    Top: 200px;
}
.text10{
    position: absolute;
    Font-family: Nunito;
    font-weight: Bold;
    Font-size: 10px;
    Line-height: 14px;
    Line-height: 103%;
    right: 597px;
    Top: 400px;
}
.text11{
    position: absolute;
    Font-family: Nunito;
    font-weight: Bold;
    Font-size: 10px;
    Line-height: 14px;
    Line-height: 103%;
    right: 554px;
    Top: 400px;
}
.text12{
    position: absolute;
    Font-family: Nunito;
    font-weight: Bold;
    Font-size: 10px;
    Line-height: 14px;
    Line-height: 103%;
    right: 264px;
    Top: 400px;
}
.text13{
    position: absolute;
    Font-family: Nunito;
    font-weight: Bold;
    Font-size: 10px;
    Line-height: 14px;
    Line-height: 103%;
    right: 220px;
    Top: 400px;
}
.text14{
    position: absolute;
    Font-family: Nunito;
    font-weight: Bold;
    Font-size: 10px;
    Line-height: 14px;
    Line-height: 103%;
    right: 176px;
    Top: 400px;
}
.text15{
    position: absolute;
    Font-family: Nunito;
    font-weight: Bold;
    Font-size: 10px;
    Line-height: 14px;
    Line-height: 103%;
    right: 133px;
    Top: 400px;
}